/* app.css */
body {
    scrollbar-width: thin;
    scrollbar-color: #6d28d9 #1f2937;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #1f2937;
}

body::-webkit-scrollbar-thumb {
    background-color: #6d28d9;
    border-radius: 10px;
    border: 2px solid #1f2937;
}